<tr>
    <td colspan="2">
        <form action="./?do=edit&!#type#!&id=!#id#!" method="POST">
            <select name="add!#addtype#!">
            !#inner#!
            </select>
            <input type="submit" value="Add" name="save" />
        </form>
    </td>
</tr>