<form action="./?do=!#do#!&!#type#!" method="POST">
    <table>
        <tr><td>!#type#! name</td><td><input type="text" name="!#type#!Name" /></td></tr>
        <tr><td colspan="2"><input type="submit" name="save" value="Save" /></td> </tr>
    </table>
</form>