<form action="./?do=add&!#data#!" method="POST">
    <table>
        <tr><td>!#data#! name</td><td><input type="text" name="!#data#!Name" /></td></tr>
        <tr><td colspan="2"><input type="submit" name="save" value="Save" /></td> </tr>
    </table>
</form>