<form method="POST" action="?do=edit&!#type#!&id=!#id#!">
    <table>
        <tr><td>!#type#! name </td><td><input type="text" value="!#name#!" name="!#type#!Name" /></td></tr>
        <tr><td colspan="2"><input type="submit" name="save" value="Save" /></td></tr>
    </table>
</form>